* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

Header {
  background-color: #fff;
}

.container-fluid {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

#logo {
  padding: 10px;

}

.list ul {
  list-style: none;
  display: flex;
}

.list ul li {
  padding: 10px;
}

.list ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 45px;
}

.list ul li a.active,
.list ul li a:hover {
  color: #0282F9;
  border-bottom: 8px solid #0282F9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.py-50{
  padding: 50px 0;
}
.bg-dark{
  background-color: #1C1C1C;
}
.t-white{
  color: #fff;
}