* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

Header {
  background-color: #fff;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-50 {
  width: 50%;
}

.col-16 {
  width: calc(100 / 6 - 15px);
}

.ms-20 {
  margin-left: 20px;
}

.g-15 {
  gap: 30px;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

#logo {
  padding: 10px;

}

.list ul {
  list-style: none;
  justify-content: end;
}

.list ul li {
  padding: 10px;
}

.list ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 45px;
}

.list ul li a.active,
.list ul li a:hover {
  color: #0282F9;
  border-bottom: 8px solid #0282F9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.py-50 {
  padding: 50px 0;
}

.bg-dark {
  background-color: #1C1C1C;
}

.t-white {
  color: #fff;
}

main {
  position: relative;
  z-index: 1;
}

.footer {
  background: url('../public/img/footer-bg.jpg') no-repeat center top;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.footer-logo {
  position: absolute;
  bottom: 35px;
  z-index: 0;
}



.col-33 h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.col-33 ul {
  list-style: none;
  padding: 0;
}

.col-33 li {
  margin-bottom: 5px;
}

.col-33 ul li a {
  text-decoration: none;
  color: gray;
}

.col-33 ul li a:hover {
  color: #fff;
  cursor: pointer;

}

.footer-bottom {
  background-color: #303030;
  padding: 40px;
  z-index: 1;
  position: relative;
}

.signup-btn {
  border: 1px solid #007fff;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.t-blue {
  color: #007fff;
}

.bg-blue {
  background-color: #007fff;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

.social-icons img {
  margin-left: 10px;
  cursor: pointer;
}

.justify-between {
  justify-content: space-between;
}

.shop-img {
  object-fit: contain;
  max-width: 6rem;
}

section ul {
  list-style: none;
  padding: 10px;
  font-size: 0.8rem;
}

section ul li span {
  margin-left: 5px;
}

.jumbotron {
  width: 100vw;
  height: 400px;
  background-image: url(../public/img/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 160px;

}

.card .card-top img {
  width: 100%;
  object-position: top;
  object-fit: cover;
}

.card-top {
  width: 160px;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
}

.card-label {
  font-family: "Open Sans", sans-serif;
  font-size: small;
  margin-top: 10px;
  font-weight: 500;
}

.card-label span:hover {
  cursor: pointer;
}

#main-label {
  background-color: #007fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  position: absolute;
  bottom: 95%;
  left: -1%;
}


.position-relative {
  position: relative;
}

.btn {
  padding: 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #007fff;
  color: #fff;
  border: none;
  font-weight: 700;
  cursor: pointer;
}